*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Open Sans", sans-serif;
}

h2 {
    text-align: center;
    padding: 10px;
}

body {
    background-color: #547700;
}

#main {
    margin-bottom: 20px;    
}

.centered {
    width: 80%;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    background-color: #777777;
    border-radius: 20px;
    box-shadow: 10px 10px 3px #555555;
    padding: 100px 20px;
}

.faqs {
    list-style-type: none;
}

.faqs li {
    margin-bottom: 20px;
    background-color: #aaaaaa;
    padding:4px;
    border-radius: 4px;
    cursor: pointer;
}

.faqs li div {
    display: flex;
    justify-content: space-between;
    /* cursor: pointer; */
}

.answer-hidden {
    visibility: hidden;
    height: 0;
}

/* .faqs li span {
    cursor: pointer
} */